:root{
    --primary-color:#6E1DF2;
    --text-color:#100C14;
    --soft-blue :#E0F6FF;
    --soft-blue-border:#CFE3EC;
    --soft-green:#E0FFF8;
    --soft-green-border:#D0EDE7;
}

*{
margin:0;
padding:0;
}

body {
font-family: 'Quattrocento Sans', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: var(--text-color);
}

a, ul li .nav-link.active{
    color: var(--primary-color)!important;
}

a {
  text-decoration: none;
}
p{
    line-height: 150%;
}
h1, h2, h3, h4, h5, h6{
    letter-spacing: -0.008em;
    line-height: 120%;
}

/* Buttons */
.btn-outline-primary {
border: 1.5px solid var(--primary-color);
font-weight: 600;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
  background-color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
color: #fff !important;
}

/* Navabr */
.navbar, .navbar.fixed, body {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar.fixed{
  position: fixed;
  background-color: #fff;
  width: 100%;
  padding: 8px 0;
  box-shadow: 0px 0px 12px -1px rgb(59 22 125 / 15%);
  z-index: 9999;
}
.navbar-brand {
  font-family: 'Cookie', cursive;
  font-size: 32px;
}
.bg-light {
    background-color: #fff !important;
    padding: 16px 0;
}

ul li .nav-link{
   color: var(--text-color)!important;
   font-size: 18px;
   font-weight: 400;
   margin-left: 32px;
}
/* Waning Hand */
@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(16deg);
    }
    20% {
      transform: rotate(-6deg);
    }
    30% {
      transform: rotate(16deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(16deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .waving-hand {
    animation: wave 2.1s 0.6s infinite;
    transform-origin: 75% 75%;
    display: inline-block;
  }

/* Banner */
.banner {
  background-image: url(../images/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.banner,section {
    padding: 160px 0 0 0 ;
}
.banner .title-banner{
color: var(--primary-color);
font-size: 50px;
font-weight: 700;
letter-spacing: -0.008em;
text-align: center;
margin-bottom: 12px;
}

.banner .banner-desc {
font-size: 24px;
font-weight: 400;
letter-spacing: -0.008em;
text-align: center;
}
/* Portfolio Thumbnail */
.pts{
    border-radius: 4px;
}
.pts-box {
  position: relative;
  border-radius: 4px;
}
.pts-date, .pts-heading, .pts-intro, .footer-heading, .footer-desc{
    margin-bottom: 4px;
}
.pts-data {
    padding: 64px 32px;
}
.pts-blue{
    background: var(--soft-blue);
    border: 1px solid var(--soft-blue-border);
  
}
.pts-green{
    background: var(--soft-green);
    border: 1px solid var(--soft-green-border);
}
.pts-blue{
    background: var(--soft-blue);
    border: 1px solid var(--soft-blue-border);
}

.pts-heading, .footer-heading{
font-size: 32px;
font-weight: 700;
}

.pts-overlay {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(110 29 242 / 90%);
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.5px);
  cursor: pointer;
  pointer-events: none;
}

.pts-overlay a {
  color: #fff !important;
  font-size: 22px;
  border: 1px solid #ffffff;
  border-radius:2px ;
padding: 12px 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pts-img, .pts-overlay a {
  transition: all 0.3s;
}

.pts-img {
  max-width: 500px;
}
.pts-box:hover .pts-img {
  transform: scale(1.05);
}


.pts-box:hover .pts-overlay {
  opacity: 1;
  pointer-events: auto;
} 

/* COming Soon */
.soon-box {
  padding: 100px 0 ;
}
.soon{
  font-size: 120px;
  color: rgb(126 178 165);
}

/* ABout */
.about{
  background-color: #F7F7F7;
  margin-top: 160px;
  padding: 80px 0  80px 0 ;
  background-size: contain;
  background-position: center;
  background-image: url(../images/Profile-Vector.svg);
  background-repeat: no-repeat;
}
.abt-img {
 max-width: 350px;
 width: 100%;
 height: 100%
 ;
}
.about-text p {
  font-size: 22px;
  line-height: 180%;
}

.abt-img-cont {
  position: relative;
}

.abt-brands, .abt-brand-01, .abt-brand-02, .abt-brand-03, .abt-brand-04 {
  position: absolute;
}

.abt-brands {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@keyframes moveUpDownAndScale01 {
  0% {
    transform: translateX(0) scale(1);
    transform: translateY(8px);
  }
  50% {
    transform: translateX(10px) scale(1.1);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes moveUpDownAndScale03 {
  0% {
    transform: translateX(-20px) ;
  }
  50% {
    transform: translateX(-10) scale(1);
    transform: translateY(-8px) scale(1.1);

  }
  100% {
    transform: translateX(-10px) scale(1.1);
  }
}

@keyframes moveUpDownAndScale04 {
  0% {
    transform: translateX(-25px) scale(1.1);
    transform: translateY(-18px);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  100% {
    transform: translateX(-10px) scale(1.1);
  }
}
.abt-brand-01{
  left: 60px;top: 110px;
  animation: moveUpDownAndScale01 5000ms linear infinite alternate;
}
.abt-brand-04{
  right: 90px;
  animation: moveUpDownAndScale04 6000ms linear infinite alternate;
}
.abt-brand-02{
  left: 80px;
  animation: moveUpDownAndScale03 8000ms linear infinite alternate;

}
.abt-brand-03{
  right: 60px;top: 110px;
  animation: moveUpDownAndScale03 5000ms linear infinite alternate;

  
}

.abt-brands img {
  width: 48px;
}
/* Footer */
footer {
    border-top:1px solid rgb(0 0 0 / 16%);
    padding: 100px 0;

}
.footer-desc {
    font-size: 18px;
    padding: 12px 0;
}

.social-links {
  display: inline;
}

.social-links li {
  display: inline-block;
  padding-right: 8px;
}
.social-links li a {
  color: #544f5a !important;
}
.social-links li a:hover {
  color: var(--primary-color)!important;
}
.social-links li a:hover i {
  transform: scale(1.1);

}
.social-links li i {
  font-size: 20px;
}



/* Media Query */
@media (max-width:575px) {
  .navbar-collapse {
    background: #f7f7f7;
    margin-top: 8px;
    border-radius: 4px;
  }
  .pts-img {
    max-width: 300px;
  }
  .soon-box {
    padding: 40px 0;
}
}
@media (max-width: 768px) { 
  .banner .text-banner {
    width: 100%;
    display: block;
    font-size: 32px;
  }


    .banner, section {
      padding: 60px 0 0 0;
    }
    

.banner .banner-desc {
    font-size: 18px;
 }
}

@media (max-width: 996px) { 
  .pts-box {
    margin-bottom: 40px;
  }
}