/* @import url('https://fonts.googleapis.com/css2?family=Montez&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montez&display=swap');
@import url('./cabinet-grotesk.css');
:root{
    --text-primary: #1D1F24;
    --text-secondary: #353941;
    --text-reduced: #606775;
    --primary-color:#1847A3;
    --mirror-white-background : -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.5) 100%),
    -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.29) 100%);
    --border-white-grad : -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.29) 100%);
    
    --mirror-white-drop : 0px 0px 12px 0px rgba(0, 0, 0, 0.02);
    --mirror-padding : 40px;
    --mirror-radius : 24px;
    
}

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    transition: background .2s linear;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: var(--text-primary);
    background-image: url(../images/Background.jpg);
    background-size: cover;
        background-attachment: fixed;

    }
h1, h2, h3, h4, h5, h6{
    line-height: 120%;
    font-weight: 600;
    color: var(--text-primary);
  font-family: 'CabinetGrotesk-Light';
}

a{
    text-decoration: none;
}


/* Utilities */
.color-reduced {
    color: var( --text-reduced) !important;
}
.color-secondary {
    color: var( --text-secondary) !important;
}
.text-black, a:hover .text-black {
color: var(--text-clor)!important;
}
.width-100 {
    width: 100%;
}
.p-bold {
    font-weight: 600;
}
.display-1 {
    font-size: 32px !important;
    line-height: 140%;
    font-weight: 600;
}

.sub-heading {
    font-size: 22px;
    line-height: 160%;
}
.animate-on-load {
    opacity: 0; /* Hide the element */
    animation: fade-in 1s ease-in-out forwards; /* Animate the element */
  }


.label
 {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
  
.label-warning
 {
    background-color: #FF8223;
}
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Move the element 20px down */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Move the element back to its original position */
    }
  }
  

.hvrzoom, .hvrzoom:hover {
    transition: transform 0.2s ease-in-out;
}

.hvrzoom:hover {
 transform: scale(1.05);
}


.mt-32 {
    margin-top: 32px;
}

.mt-24 {
    margin-top: var(--mirror-radius);
}

.mb-24 {
    margin-bottom: var(--mirror-radius);
}


.mb-40 {
    margin-bottom: var(--mirror-padding) !important;
}

.mb-80 {
    margin-bottom:80px
}

.mb-16 {
    margin-bottom: 16px;
}


/* Animation-body */
.navbar, .navbar.fixed, body {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

/* Navbar */

.logo-text, .logo-text:hover {
    font-family: 'Montez', cursive !important;
    color: var(--primary-color);
    font-size: 28px;
}

.navbar, .nav-mobile  {
    padding: 24px 0;
    background-color: transparent !important;
}

.navbar li a.active, .navbar li a.active {
    font-weight: 800;
    color: var(--text-secondary);
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link, .navbar li a.active{
    color: var(--text-secondary);
    font-weight: 700;

}


.navbar li a {
    line-height: 112%;
    padding: 8px 16px !important;
    /* background: rgba(255, 255, 255, 0.2); */
    color:  var(--text-secondary);
    font-size: 13px;
    position: relative;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
    letter-spacing: 0.8px;
}

/* .navbar li:first-child a {
    border-radius: 68px 0 0 68px;
} */

.navbar li:last-child a {
    border-radius: 0 68px 68px 0;
}


.navbar li:first-child {
    margin-right: 2px;
}

.navbar li:last-child {
    margin-left: 2px;
}

/* Navbar hover effect */

.SMN_effect-31 a {
	position: relative;
	overflow: hidden;
	display: block;
	text-align: center;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	padding: 0;
}

.SMN_effect-31 a span {
	display: block;
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 2);
	transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 2);
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 2);
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 2),
    -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 2);
}

.SMN_effect-31 a:after {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	content: attr(data-hover);
	display: inline;
	text-align: center;
	-webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 2);
	transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 2);
}

.SMN_effect-31 a:hover {
	color: var(--primary-color);
}

.SMN_effect-31 a:hover span {
	color: var(--primary-color);
	-webkit-transform: translateY(200%);
	transform: translateY(-200%);
}

.SMN_effect-31 a:hover:after {
	top: 0;
}

.SMN_effect-31 a:active {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}

/* Section */
section {
    margin: 84px 0 ;
}

/* Buttons */
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn:first-child:active,.btn:first-child:active:focus-visible {
    background-color: #fff;
    color: var(--text-clor);
    border: 0;
    border-radius: 8px;
    padding:  8px 16px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
    line-height: 140%;
}



/* NAVIGATION */

.menu__link:hover .menu__first-word, .menu__link:focus .menu__first-word {
  transform: translate3d(0, -105%, 0);
transition: transform 0.4s;

}
.menu__link:hover .menu__second-word, .menu__link:focus .menu__second-word {
  transform: translate3d(0, 105%, 0);
transition: transform 0.4s;

}


.menu__title {
  display: inline-block;
  overflow: hidden;
transition: transform 0.4s;
}

.menu__first-word,
.menu__second-word {
  display: inline-block;
  position: relative;
transition: transform 0.4s;
}
.menu__first-word::before,
.menu__second-word::before {
  position: absolute;
  content: attr(data-hover);
}

.menu__first-word::before {
  top: 105%;
  color: var(--text-secondary);
}


.menu__second-word::before {
  bottom: 105%;
}









/* END */



.user-pic {
    max-width: 160px;
}

/* Brands color  */

.linkdin  {
    color: #0072b1;
    font-size: 36px;
    text-decoration: none;
}


.case-study, .white-box, .orange-box, .video-box, .img-bg, .white-box-2 {
    padding: var(--mirror-padding);
}
.video-box video, .case-study, .white-box, .white-box-2, .orange-box, .video-box, .img-bg {
    border-radius: var(--mirror-radius);
    transition: transform 0.3s ease-in-out;
}


/* Random-move */
.Random-circle, .Random-circle2, .Random-circle3 {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.Random-circle {
    width: 100px;
    height: 100px;
    background: rgba(234, 129, 248, 0.09);
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    animation-name: moveCircle;
    animation-duration: 10s;
}

.Random-circle2 {
    width: 80px;
    height: 80px;
    background: rgba(95, 50, 189, 0.05);
    top: 30%;
    left: 70%;
    transform: translate(-50%, -20%);
    animation-name: moveCircle2;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.Random-circle3 {
    width: 100px;
    height: 100px;
    background: rgba(236, 153, 123, 0.05);
    top: 80%;
    left: 20%;
    transform: translate(-40%, -20%);
    animation-name: moveCircle3;
    animation-duration: 8s;

}



@keyframes moveCircle {
    0% {
        top: 0%;
        left: 00%;
    }
    50% {
        top: 30%;
        left: 70%;
    }
    100% {
        top: 80%;
        left: 20%;
    }
}

@keyframes moveCircle2 {
    0% {
        top: 30%;
        left: 70%;
    }
    50% {
        top: 80%;
        left: 20%;
    }
    100% {
        top: 50%;
        left: 50%;
    }
}

@keyframes moveCircle3 {
    0% {
        top: 80%;
        left: 20%;
    }
    50% {
        top: 50%;
        left: 50%;
    }
    100% {
        top: 30%;
        left: 70%;
    }
}



/* white-box */

.white-box {
    /* box-shadow: var(--mirror-white-drop); */
    border: 1px solid  rgba(255, 255, 255, 0.50);
    background : linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.5));
}


.white-box-2 p{
    color: var(--text-secondary) !important;
}



/* white-box-02 */
.white-box-2 {
    /* box-shadow: var(--mirror-white-drop); */
    border: 1px solid  rgba(255, 255, 255, 1);
    background : linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 1));
}


.white-box-2:hover {
    transition: transform 0.3s ease-in-out;
   transform: translateY(-12px);
}


.white-box-2:hover img {
    transition: transform 0.3s linear;
    transform: scale(1.05);
}


.white-box-2 .content-title {
    color: var(--text-secondary);
}




/* orange box */

.orange-box {
    background: linear-gradient(180deg, rgba(232, 190, 175, 0.25) 0%, rgba(232, 190, 175, 0.5) 100%);
    border: 1px solid rgba(232, 190, 175, 0.43);
}


/* Hero section */

.hidden {
    display: none !important;
}

.hero {
    padding: 62px 0 ;
  }

  .hero-width {
    display: flex;
    justify-content: center;   /* centers horizontally */

  }

  .hero p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .hero-content {
    width: 66%;
    max-width: 844px;          /* prevents very wide text */
    text-align: center;        /* optional */
  }

  .hero-title {
    font-size: 72px;
    line-height: 98%;
    letter-spacing: -1.8px;
  font-family: 'CabinetGrotesk-Extrabold';
    background: linear-gradient(90deg, #1847A3 0%, #273275 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  }
  
  /* Responsive (tablet & mobile) */
  @media (max-width: 768px) {
    .hero-content {
      width: 100%;
      max-width: 100%;
    }
  }
  



/* Signature */

.signature .social .linkdin {
font-size: 24px;
vertical-align: bottom;
}

/* Waning Hand */
@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(16deg);
    }
    20% {
      transform: rotate(-6deg);
    }
    30% {
      transform: rotate(16deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(16deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .waving-hand {
    animation: wave 2.1s 0.6s infinite;
    transform-origin: 75% 75%;
    display: inline-block;
  }

    /* Banner */
    .content-title {
        font-size: 28px;
    }


    .content ul, .nav-mobile ul {
        list-style-type: none;
        padding-left: 0;
    }

    .content ul li, .nav-mobile ul li {
        display: inline-block;
    }
    .content ul li {
        margin-right: 12px;
    }
    .content ul li img {
        max-width: 48px;
    }

    

.case-study {
    position: relative;
    background: url(../images/bg-case.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: auto;
    margin-bottom:var(--mirror-radius);
    box-shadow: 0px 0px 4px 0px #00000008;
    /* height: 525px; */
}

.case-section p, .case-section li {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 160%;
}

.case-study .case-action {
    position: absolute;
    left: 40px;
    bottom: 40px;
}
.case-study .case-title {
    font-size: 18px;
    line-height: 200%;
    padding-bottom: 130px;
    margin-bottom: 130px;
}

.case-intro-timeline ul{
padding-left: 0;
}


.case-intro-timeline ul li{
list-style-type: none;
}

.case-intro-timeline b{
font-weight: 600;
}

.case-part {
    margin: 62px 0;
}

.case-sub-part {
    margin: 32px 0 8px;
}


.case {
    padding-left: 32px;
}



.quote p{
    font-style: italic;
}

.quote .cup {
    font-size: 66px;
    line-height: 200%;
    text-align: center;
}


/* carousel */
.car-img {
    width: 100%;
    border-radius: 12px;
}

.small-title {
    font-size: 16px;
    font-weight: 400 !important;
    margin-bottom: 12px;
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #fff;
}


/* Video */
.video-box, .img-box {
    position: relative;
    width: 100%;
    height: 510px;
    overflow: hidden;
  }
  
  .video-box video, .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-container {
    position: absolute;
    top: 40px;
    left: 40px;
    bottom: 0;
  }

  .ybtn {
    position: absolute;
    bottom: 40px;
    right: 40px;
  }


  .ybtn .btn-primary {
    font-size: 24px;
    color: #FF0000;
  }


  /* Image Box */

.img-bg {
    background-image: url(../images/me.png);
    background-size: cover;
}

.img-bg .content {
    color: #fff;
}


/* Case Study Deatils */
.bt-12 {
    border-radius: 12px 12px 0 0;
}
.bb-12 {
    border-radius: 0 0 12px 12px;
}

.b-12 {
    border-radius: 12px;
}
.ccs-img {
    width: 100%;
}


/* Content-pages-inside */
/* Sidebar */


.sticky-nav {
    position: sticky;
    top: 0;
    overflow: hidden;
     transition:
    transform 0.3s ease,
    opacity 0.2s ease;
}

.sticky-nav.nav-pills .nav-link {
    color:  var(--text-reduced);
}
.sticky-nav.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
background-color: transparent;
}

.sticky-nav.nav-pills .nav-link.active {
color: var(--primary-color);
    font-weight: 500;
}

.sticky-nav.nav-pills .nav-link:hover, .sticky-nav .nav-link.active .sticky-nav-dot, .sticky-nav.nav-pills .nav-link.active {
transition: color 0.25s ease-in-out, padding-left 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out, padding-left 0.25s ease-in-out;
   color: var(--primary-color);
    font-weight: 500;

}

.sticky-nav-dot {
    width: 2px;
    height: 2px;
    background-color: var(--text-reduced);
    color: var(--text-reduced);
    border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  transition:
    width 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s ease;
}

.sticky-nav .nav-link.active .sticky-nav-dot{
 width: 40px;
 height: 2px;
 border-radius: 2px;
 background-color: var(--primary-color);
transition:
    width 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s ease;
}


.sticky-nav-item{
    display: inline-block;
    padding-left: 8px;
transition: color 0.25s ease-in-out, padding-left 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out, padding-left 0.25s ease-in-out;
}



/* Footter */

hr {
    opacity: .75;
    color: #fff;
}


footer{
    padding: 82px 0 32px;
    position: relative;
}


footer a {
    color: var(--primary-color);
    font-weight: 600;
}

footer p {
    font-size: 24px;
}


footer ul {
    text-align: right;
}




footer ul li {
  list-style: none;
  display: inline-block
}

.link-underline:hover {
text-decoration: underline !important;
}

footer ul li a {
  width: 52px;
  height: 52px;
  background-color: #ffffffd0;
  border: 1px solid  rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}


footer ul li a svg {
    width: 24px;
    height:24px;
    vertical-align: text-top;
}

footer ul li a .icon {
  position: relative;
  transition: .5s;
  z-index: 3;
}

footer ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

footer ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #f00; */
  transition: .5s;
  z-index: 2;
}

footer ul li a:hover:before {
  top: 0;
}

footer ul li:nth-child(1) a:before{
  background: #0a66c2;
}

footer ul li:nth-child(2) a:before{
  background: #ea4c89;
}

/* footer ul li:nth-child(3) a:before {
  background: #0077b5;
}

footer ul li:nth-child(4) a:before {
  background: #dd4b39;
} */




/* Media Query */

@media (min-width: 576px) {
    .navbar li a {
        padding: 12px 24px;
    }
}


@media (max-width: 1200px) {
 .carousel {
    margin-bottom: 24px;
 }
}

@media  (min-width:768px) {
    .nav-mobile {
        display: none;
    }
}

@media  (max-width:768px) {
    /* .navbar-light {
        display: none;
    } */
    .nav-mobile {
        display: block;
    }
}


@media (max-width: 992px) {
    .orange-box {
       margin-bottom: 24px;
    }
    .hero-title {
        font-size: 62px;
    }
    .hero p {
        font-size: 16px;
    }
    .white-box-2 {
        margin-top: 32px;
    }
    footer p{
        font-size: 24px;
    }
footer ul {
    text-align: center;
}
   }

   @media (max-width: 576px) {
    .nav-mobile .brand-col, .nav-mobile .col-sm-4 {
        width: 50%;
    }
        .hero-title {
        font-size: 42px;
    }
}


